
*
{
    margin-left: 1px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;


}
body {

    color: #ededed;
     overflow: hidden;

}

.header {

    width: 100%;
    background-color: #0d0f1b;
    padding: 8px 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 69;
}

section{
    height: 1000px;
    width: 1330px;
    overflow: hidden;
    position: relative;
    left: 1px;

}
.background{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Để video bao phủ toàn bộ phần tử .background */
    background-attachment: fixed;

}

.home-content {
    position: absolute;
    max-width: 600px;
    top: 80px;
    left: 150px;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}
.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}
.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active{
    color: #00abf0;
}

.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}
.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}
.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}
.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}
.home-content p {
    position: relative;
    font-size: 25px;
    margin: 20px 0 40px;
    text-align: justify;
}
.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}
.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}
.home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}
.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center; align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.btn-box a:hover{
    color: #00abf0;
}
.btn-box a:nth-child(2){
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover{
    color: #081b29;
}
.btn-box a:nth-child(2)::before{
    background: #00abf0;
}
.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}
.btn-box a:hover::before{
    width: 100%;
}
.home-sci{

    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}
.home-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 2s;
}
.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.home-sci a:hover{
    color: #081b29;
}
.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}
.home-sci a:hover:before{
    width: 100%;
}


@keyframes showRight {
    100%{
        width: 0;
    }
}
/* Các thuộc tính khác cho phần tử .about-content*/
#about {
    position: relative;
    font-size: 25px;
    text-align: justify;

}

.about-content {
    text-align: center;
    max-width: 700px;
    position: absolute;
    top: 70px;
    left: 100px;
    text-align: justify;

}
.about-content h1 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}


.about-content p {
    position: relative;
    font-size: 25px;
    margin: 20px 0 40px;
    text-align: justify;
}

.service-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 50px; /* Điều chỉnh khoảng cách từ phía trên */
    margin-left: 5px; /* Điều chỉnh khoảng cách từ phía trái */
}
.service-container .services-box {
    flex: 1 1 auto;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border: 10px solid white;
    border-radius: 2rem;
    text-align: center;
    transition: .5s ease;
    z-index: 100;
}
.service-container .services-box:hover{
    border-color: blue;
    transform: scale(1.02);

}
.services-box h3{
    font-size: 1rem;
}
.services-box p{
    font-size: 1.5rem;
}

#services{
    position: relative;

}

.portfolio .heading {
    margin-top: 0px;
}
.portfolio-container {
    margin-top: 87px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Loại bỏ dấu cách không cần thiết ở đây */
    align-items: center;
    gap: 2.5rem;
}
.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    height: 100%; /* Đặt chiều dài cho .portfolio-box */
}
.portfolio-box img {
    width: 100%;
    transition: .5s ease;
}
.portfolio-box:hover img{
    transform: scale(1.1);
}
.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1), #3498db);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem ;
    transform: translateY(100%);
    transition: .5s ease;
}
.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
}
.portfolio-layer h4{
    font-size: 3rem;
}
.portfolio-layer p{
    font-size: 1.6rem;
    margin: 0.3rem 0 1rem;

}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color); border-radius: 50%;
}
.portfolio-layer a .box-icon {
    font-size: 2rem;
    color: white;

}
.portfolio-layer h4 {
    font-size: 2rem;
    color: white;

}
.portfolio-box .portfolio-layer a box-icon[name='sushi'] {
    font-size: 8rem;
    color: white;
}
.rollback{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1000;

}
/* Đảm bảo nút hình tròn */
.arrow-button {
    width: 50px;
    height: 50px;
    background-color: #00abf0;
    border: none;
    border-radius: 50%; /* Làm cho nút trở thành hình tròn */
    cursor: pointer;
    position: relative;
}

/* Tạo mũi tên chỉ lên */
.arrow-up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 20px;
    height: 20px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;

}

/* Đổi màu khi hover */
.arrow-button:hover {
    background-color: #081b29;
}
